<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Confirmation</title>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <style>
        body {
            align-items: center;
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #f4f4f9;
            color: #333;
        }
        .container {
            height: 500px;
            margin:50px auto;
            text-align: center;
            background: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            padding-top: 100px;
        }
        h1 {
            font-family: 'Pacifico', cursive;
        }
    </style>
</head>
<body>
    <div class="container">
    <h1>Booking Confirmation</h1>
<p>Name: {{name}}</p>
<p>Email: {{email}}</p>
<p>Phone: {{phone}}</p>
<p>Check-in Date: {{checkIn}}</p>
<p>Check-out Date: {{checkOut}}</p>
<p>Number of Rooms: {{rooms}}</p>
<p>Number of Guests: {{guests}}</p>
<p>Total amount:{{totalAmount}}</p>
</div>
</body>
</html>
